.form{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    border: 5px solid;
    text-align: center;
}

.rInput{
    align-items: center;
}

.submit{
    margin-top: 10px;
    font-size: larger;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .cpm {
    font-size: 1.0em;
    color: #277c9e;
    font-weight: normal;
  }

  .cpm-1 {
    font-size: 1.0em;
    color: #447d25;
    font-weight: normal;
  }
  
  input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  